<div style="width: 100%; height: 100%; z-index: -1; position: absolute; top:0">
    <section style="background: {{ mw.color ?? random(['#DAF7A6', '#FFC300', '#FF5733', '#C70039', '#900C3F']) }}; clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%); height: 20%; min-height: 300px"></section>
</div>
